cmake_install.cmake
CMakeCache.txt
CMakeFiles
Makefile
.vscode
notes
shaders/bin/*
build
server_data/network
server_data/config.txt
bin
lib/win/*
lib/lnx/*
bin/*
settings.bin
./server.exe
./client.exe